numpy
numba
ipdb
graphviz
drawille
pymunk
scipy
msgpack
imageio
rtree
tqdm
toml
pysdl2
pysdl2-dll
cython
cymunk @ git+https://github.com/gerner/cymunk@b3020d3
uroman

# dev dependencies
mypy
pytest
pytest-repeat
jupyter
pandas
matplotlib
floweaver
ipysankeywidget
